/* Gradient Move Keyframes */
@keyframes gradientMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 200%;
    }
}

/* Fade In Up Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade In Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade In Left Keyframes */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}