body {
    background: radial-gradient(circle, #062359e9, #074023ed);
    background: linear-gradient(to bottom, #124b2e, #3a244e);

    margin: 0;
    background-size: 100% 100%;
}

h1 {
    color: #afd0bd;
}

h2, h3, h4 {
    color: #c4d5cb;
}

li a {
    color: white;
}

li a.active {
    color: #99b49a;
    font-style: oblique;
}

li a:hover {
    color: #99b49a;
}
 
.project-panel {
    background-color: #45644e55;
    border: 10px solid rgb(199, 217, 191);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.project-panel:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    background-color: #0e2e15; 
}

.project-panel h2, 
.project-panel p {
    color: #b9e3c0;
}

.project-panel:hover h2, 
.project-panel:hover p {
    color: rgb(226, 248, 226);
}

.education-container {
    background-color: #1b37238b;
}

.education-panel {
    background-color: #9ebc9738;
}

.education-panel h4, 
.education-panel p, 
.education-panel h6 {
    color: rgb(196, 213, 203);
}

.experience-container {
    background-color: #4b5e5057;
}

.experience-panel {
    background-color: #29352d52;
}

.experience-panel h4, 
.experience-panel h6, 
.experience-panel p {
    color: rgb(196, 213, 203);
}

.ec-container {
    background-color: #1c2f2187;
}

.ec-panel {
    background-color: #81968852;
}

.ec-image:hover {
    box-shadow: 0 0 30px rgba(24, 24, 24, 0.812);
}

.ec-text h4, 
.ec-text p {
    color: rgb(196, 213, 203);
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #3b503e;
}

.popup-close {
    color: #fbe7e7b0;
}

#tkd-gallery img {
    border: 6px solid rgba(255, 255, 255, 0.884);
}

#vh-gallery img {
    border: 6px solid rgba(255, 255, 255, 0.884);
}

.prev, .next {
    color: white;
    background-color: rgba(10, 31, 15, 0.5);
}

.prev:hover, 
.next:hover {
    background-color:rgba(168, 177, 163, 0.394);
    color: rgb(10, 31, 15);
}

.contact-container {
    background-color: #75c68c57;
}

.contact-container a {
    color: white;
}
 
.contact-container a:hover {
    color: #d5f6d6;
}

.index-panel {
    background-image: url("index-dark.jpg");
}

.index-about-panel {
    background: radial-gradient(circle, #164a10, #3e4e78);
    border: 10px solid rgba(193, 250, 203, 0.52);
    opacity: 0.92;
}

#aboutMeButton {
    border: 5px solid rgba(193, 250, 203, 0.52);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#aboutMeButton:hover {
    border: 5px solid rgba(193, 250, 203, 0.52);
}

#aboutMeButton h3 {
    background-color: rgba(47, 83, 142, 0.714);
}

#aboutMeButton:hover h3 {
    background-color: rgba(45, 115, 70, 0.714);
}

.project-panel2 {
    background-color: #45644e55;
    border: 8px solid rgb(199, 217, 191);
}

.project-panel2:hover {
    background-color: #5d7a63; 
}

.index-container h1 {
    color: rgb(175, 208, 189);
}

.index-container h1 a {
    color: rgb(115, 193, 135);
}

.index-container h1 a:hover {
    color: rgb(86, 146, 101);
}

#animated-text {
    border-right: 2px solid #afd0bd;
}