body {
    background: radial-gradient(circle, #ccb1dd, #a3ccb9);
    background: radial-gradient(circle, rgb(184, 228, 238), #f0d19f);
    margin: 0;
    background-size: 200% 200%;
    animation: gradientMove 13s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 200%;
    }
}

h1 {
    color: #042469c5;
}

h2, h3, h4 {
    color: #3a4f7e;
}

li a {
    color: rgb(78, 107, 169);
}

li a.active {
    color: rgb(43, 65, 112);
    font-style: oblique;
}

li a:hover {
    color: rgba(13, 41, 102, 0.747);
}
 
.project-panel {
    background-color: #8dcbdc58;
    border: 10px solid rgba(129, 196, 218, 0.587);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.project-panel:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
    background-color: #bbe3f1;
    background-color: #8ecae0be;
}

.project-panel h2,
.project-panel p {
    color: rgba(13, 41, 102, 0.747);
}

.project-panel:hover h2, 
.project-panel:hover p {
    color: rgba(20, 41, 85, 0.747);
}

.education-container {
    background-color: #a4c4cb9e;
}

.education-panel {
    background-color: #56a1c638;
}

.education-panel h4, 
.education-panel p, 
.education-panel h5 {
    color: rgb(58, 79, 126);
}

.experience-container {
    background-color: #e1b73b3d;
}

.experience-panel {
    background-color: #e4ae182b;
}

.experience-panel h4, 
.experience-panel h5, 
.experience-panel p {
    color: rgb(58, 79, 126);
}

.ec-container {
    background-color: #39b8d534;
}

.ec-panel {
    background-color: #108da322;
}

.ec-image:hover {
    box-shadow: 0 0 30px rgba(24, 24, 24, 0.812);
}

.ec-text h4, 
.ec-text p {
    color: rgb(58, 79, 126);
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #78a6c9f3;
}

.popup-close {
    color: #284584b0;
}

#tkd-gallery img {
    border: 6px solid rgba(255, 255, 255, 0.884);
}

#vh-gallery img {
    border: 6px solid rgba(255, 255, 255, 0.884);
}

.prev, .next {
    color: #204593c5;
    background-color: rgba(211, 241, 248, 0.454);
}

.prev:hover, 
.next:hover {
    background-color: #20449384;
    color: rgb(208, 232, 245);
}

.contact-container {
    background-color: #86c9ca5e;
}

.contact-container a {
    color: rgb(78, 107, 169);
}
 
.contact-container a:hover {
    color: rgba(13, 41, 102, 0.747);
}

.index-panel {
    background-image: url("images/index-light.jpg");
}

.index-about-panel {
    background-color: rgb(169, 190, 200);
    background: radial-gradient(circle, rgb(139, 205, 220), #f2c69b);
    border: 10px solid rgba(101, 116, 151, 0.46);
    opacity: 0.9;
}

#aboutMeButton {
    border: 5px solid rgba(68, 93, 150, 0.46);   
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

#aboutMeButton:hover {
    border: 5px solid rgba(68, 93, 150, 0.46); 
}

#aboutMeButton h3 {
    background-color: rgba(255, 196, 0, 0.433);
}

#aboutMeButton:hover h3 {
    background-color: rgb(163, 216, 235);
}

.project-panel2 {
    background-color: #8dcbdc58;
    border: 8px solid rgba(129, 196, 218, 0.587);
    color: rgb(58, 79, 126);
}

.project-panel2:hover {
    background-color: #8ecae0be;
}

.project-panel2 img {
    border: 4px solid #3a4f7e80;
}

.project-panel2:hover img {
    border: 6px solid #3a4f7e80;
}

.index-container h1 {
    color: rgb(78, 107, 169);
}

.index-container h1 a {
    color: rgba(4, 36, 105, 0.773);
}

.index-container h1 a:hover {
    color: rgb(96, 151, 187);
}

#animated-text {
    border-right: 2px solid #042469c5;
}