body {
    background-color: rgb(42, 69, 48);
    margin: 0;
}

.container {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    color: rgb(175, 208, 189);
}

h4 {
    color: white;
    font-size: 20pt;
}

p {
    font-size: 20pt;
    background-color: antiquewhite;
    padding: 10px;
    border: solid rgb(201, 150, 144);
}

div {
    padding: 20px;
    width: 50px;
    margin: 0 auto;
}

ul {
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

li {
    font-family: sans-serif;
    display: inline-block;
    margin-right: 10px;
}

li a {
    font-family: sans-serif;
    line-height: 30px;
    font-size: 13pt;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 140px;
}

li a.active {
    font-family: sans-serif;
    color: #99b49a;
}

li a:hover {
    font-family: cursive;
    font-size: 16pt;
    color: #99b49a;
}
 
.project-container {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
 }

.project-panel {
    width: 40%;
    background-color: #92a48e;
    padding: 150px;
    margin: 40px 25px;
    border: 10px solid rgb(199, 217, 191);
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    display: flex; 
    flex-direction: column;
    align-items: center;
 }

.project-panel:hover {
    border: 10px solid #c6d8be;
    border-radius: 60px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.project-panel h2 {
    font-size: 20pt;
    color: #333;
    margin: 0;
 }

.project-panel h4 {
    font-size: 18pt;
    color: #333;
}
 